@model CommonEditServiceViewModel
<div class="form-group form-check m-4">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="parameterDieselEngine.DEF" /> @Html.DisplayNameFor(model => model.parameterDieselEngine.DEF)
    </label>
</div>