@model CommonEditServiceViewModel

<div class="form-floating mb-2">
    <input asp-for="costsByDriveUnit.PriceByFrontWheelDriveOrMono" class="form-control" placeholder="Price">
    <label asp-for="costsByDriveUnit.PriceByFrontWheelDriveOrMono"></label>
    <div class="invalid-tooltip">
        <span asp-validation-for="costsByDriveUnit.PriceByFrontWheelDriveOrMono"></span>
    </div>
</div>
<div class="form-floating mb-2">
    <input asp-for="costsByDriveUnit.PriceByRearWheelDrive" class="form-control" placeholder="Price">
    <label asp-for="costsByDriveUnit.PriceByRearWheelDrive"></label>
    <div class="invalid-tooltip">
        <span asp-validation-for="costsByDriveUnit.PriceByRearWheelDrive"></span>
    </div>
</div>
<div class="form-floating mb-2">
    <input asp-for="costsByDriveUnit.PriceByFourWheelDrive" class="form-control" placeholder="Price">
    <label asp-for="costsByDriveUnit.PriceByFourWheelDrive"></label>
    <div class="invalid-tooltip">
        <span asp-validation-for="costsByDriveUnit.PriceByFourWheelDrive"></span>
    </div>
</div>


<div class="form-floating mb-2">
    <input type="text" value="00:00" class="bs-timepicker form-control" asp-for="costsByDriveUnit.TimeByFrontWheelDriveOrMono" placeholder="Description">
    <label asp-for="costsByDriveUnit.TimeByFrontWheelDriveOrMono"></label>
    <div class="invalid-tooltip">
        <span asp-validation-for="costsByDriveUnit.TimeByFrontWheelDriveOrMono"></span>
    </div>
</div>
<div class="form-floating mb-2">
    <input type="text" value="00:00" class="bs-timepicker form-control" asp-for="costsByDriveUnit.TimeByRearWheelDrive" placeholder="Description">
    <label asp-for="costsByDriveUnit.TimeByRearWheelDrive"></label>
    <div class="invalid-tooltip">
        <span asp-validation-for="costsByDriveUnit.TimeByRearWheelDrive"></span>
    </div>
</div>
<div class="form-floating mb-2">
    <input  type="text" value="00:00" class="bs-timepicker form-control" asp-for="costsByDriveUnit.TimeByFourWheelDrive" placeholder="Description">
    <label asp-for="costsByDriveUnit.TimeByFourWheelDrive"></label>
    <div class="invalid-tooltip">
        <span asp-validation-for="costsByDriveUnit.TimeByFourWheelDrive"></span>
    </div>
</div>

<script>
$(function () {
    $('.bs-timepicker').timepicker();
});
</script>