<div class="form-floating mb-2">
        <select id="modelSelect" asp-items="ViewBag.modelNames" class="form-select" aria-label="CarModel" required>
            <option selected disabled>Выберите марку</option>
        </select>
        <label>Модель автомобиля</label>
        <div class="invalid-tooltip">
            <span>Выберите модель автомобиля</span>
        </div>
</div>