@{
    ViewData["Title"] = "Главная";
}



<div class="text-center">
    <h1 class="display-4">Добро пожаловать в лучший автосервис</h1>
    <h5>Полный спектр ремонтных работ, начиная от обслуживания авто, <br>замены расходников до кузовного ремонта и капитального ремонта двигателей</h5>
</div>
