@model RegistrationClientVM
@{
    ViewData["Title"] = "Регистрация";
}


<div class="row">
    <div class="d-flex align-items-top justify-content-center vh-90">
        <form class="m-1 needs-validation col-5" method="post" asp-controller="Account" asp-action="Registration" asp-antiforgery="true" novalidate>
            <h2 class="text-center m-5">Регистрация</h2>
            <div class="row g-2 mb-3">
                <div class="form-floating position-relative col-md">
                    <input class="form-control" asp-for="Name" placeholder="First name">
                    <label asp-for="Name"></label>
                    <div class="invalid-tooltip"><span asp-validation-for="Name"></span></div>
                </div>
                <div class="form-floating position-relative col-md">
                    <input class="form-control" asp-for="LastName" placeholder="Last name">
                    <label asp-for="LastName"></label>
                    <div class="invalid-tooltip"><span asp-validation-for="LastName"></span></div>
                </div>
            </div>
            <div class="form-floating position-relative mb-3">
                <input class="form-control" asp-for="Email" placeholder="name@example.com">
                <label asp-for="Email"></label>
                <div class="invalid-tooltip"><span asp-validation-for="Email"></span></div>
            </div>
            <div class="form-floating position-relative mb-3">
                <input class="form-control" asp-for="Password" placeholder="Password">
                <label asp-for="Password"></label>
                <div class="invalid-tooltip"><span asp-validation-for="Password"></span></div>
            </div>
            <div class="form-floating position-relative mb-3">
                <input class="form-control" asp-for="PasswordConfirm" placeholder="Password">
                <label asp-for="PasswordConfirm"></label>
                <div class="invalid-tooltip"><span asp-validation-for="PasswordConfirm"></span></div>
            </div>
            @*<div class="form-check position-relative mb-3">
                <input class="form-check-input" id="checkBox" type="checkbox">
                <label for="checkBox">* Я соглашаюсь с <a href="">правилами использования сервиса</a> ,<br /> а также с передачей и обработкой моих данных</label>
                <div class="invalid-tooltip">Нада</div>
            </div>*@
            <div class="d-grid d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">
                    Регистрация
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}














@*<h2>Регистрация нового пользователя</h2>
    <form method="post" asp-controller="Account" asp-action="Registration">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Name"></label><br />
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="LastName"></label><br />
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </form>*@