@model EditElectricEngineVM

@{
    ViewData["Title"] = "Панель администратора";
}


<h4>Изменение двигателя</h4>
<hr />
<div class="row justify-content-center mt-2">
    <div class="col-md-5">
        <form method="post" asp-controller="Engine" asp-action="EditElectricEngine" asp-route-engineId="@ViewBag.engineId" asp-antiforgery="true">

            <div>
                <input asp-for="OldName" hidden />
            </div>
            <div class="form-group mb-2">
                <label asp-for="NameEngine" class="control-label"></label>
                <input asp-for="NameEngine" class="form-control" />
                <span asp-validation-for="NameEngine" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="EnginePowerKW" class="control-label"></label>
                <input asp-for="EnginePowerKW" class="form-control" />
                <span asp-validation-for="EnginePowerKW" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="BatteryCapacity" class="control-label"></label>
                <input asp-for="BatteryCapacity" class="form-control" />
                <span asp-validation-for="BatteryCapacity" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <input type="submit" value="Применить" class="btn btn-primary" />
                <a class="btn btn-outline-danger float-end" asp-action="Index">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
